wordcount
  - let allword = totalcount(site)
  span= '猹居然写了 ' + allword + ' 字'
  </br>
  if isNaN(allword)
    - allword= Number(allword.replace('k', ''))
    if allword< 50
      span= "还在努力更新中.. 加油！加油啦！"
    else if allword< 70
      span= "好像写完一本 埃克苏佩里 的 《小王子》 了啊"
    else if allword< 90
      span= "好像写完一本 鲁迅 的 《呐喊》 了啊"
    else if allword< 100
      span= "好像写完一本 林海音 的 《城南旧事》 了啊"
    else if allword< 110
      span= "好像写完一本 马克·吐温 的 《王子与乞丐》了！ 了啊"
    else if allword< 120
      span= "好像写完一本 鲁迅 的 《彷徨》 了啊"
    else if allword< 130
      span= "好像写完一本 余华 的 《活着》 了啊"
    else if allword< 140
      span= "好像写完一本 曹禺 的 《雷雨》 了啊"
    else if allword< 150
      span= "好像写完一本 史铁生 的 《宿命的写作》 了啊"
    else if allword< 160
      span= "好像写完一本 伯内特 的 《秘密花园》 了啊"
    else if allword< 170
      span= "好像写完一本 曹禺 的 《日出》 了啊"
    else if allword< 180
      span= "好像写完一本 马克·吐温 的 《汤姆·索亚历险记》 了啊"
    else if allword< 190
      span= "好像写完一本 沈从文 的 《边城》 了啊"
    else if allword< 200
      span= "好像写完一本 亚米契斯 的 《爱的教育》 了啊"
    else if allword< 210
      span= "好像写完一本 巴金 的 《寒夜》 了啊"
    else if allword< 220
      span= "好像写完一本 东野圭吾 的 《解忧杂货店》 了啊"
    else if allword< 230
      span= "好像写完一本 莫泊桑 的 《一生》 了啊"
    else if allword< 250
      span= "好像写完一本 简·奥斯汀 的 《傲慢与偏见》 了啊"
    else if allword< 280
      span= "好像写完一本 钱钟书 的 《围城》 了啊"
    else if allword< 300
      span= "好像写完一本 张炜 的 《古船》 了啊"
    else if allword< 310
      span= "好像写完一本 茅盾 的 《子夜》 了啊"
    else if allword< 320
      span= "好像写完一本 阿来 的 《尘埃落定》 了啊"
    else if allword< 340
      span= "好像写完一本 艾米莉·勃朗特 的 《呼啸山庄》 了啊"
    else if allword< 350
      span= "好像写完一本 雨果 的 《巴黎圣母院》 了啊"
    else if allword< 360
      span= "好像写完一本 东野圭吾 的 《白夜行》 了啊"
    else
      span= "好像写完一本我国著名的 四大名著 了！！！"
  else
    span= "还在努力更新中.. 加油！加油啦！"
#footer_deal
  a.deal_link(href="mailto:1982989137@qq.com" title="mail")
    i.iconfont.icon-youxiang1
  a.deal_link(href="https://res.abeim.cn/api/qq/?qq=1982989137" title="qq" target="_blank")
    i.iconfont.icon-qq1
  a.deal_link(href="https://weibo.com/flow2000" title="微博" target="_blank")
    i.iconfont.icon-weibo
  a.deal_link(href="https://github.com/flow2000" title="github"  target="_blank")
    i.iconfont.icon-github
  img.footer_mini_logo.entered.loading(style="border-radius:50%" src='/img/avatar.png' onclick="btf.scrollToDest(0,500)" title="返回顶部")
  a.deal_link(href="/" title="主页" target="_blank")
    i.iconfont.icon-zhuye
  a.deal_link(href="https://travellings.cn/" title="开往-随机跳转另一个加入开往的网页" target="_blank")
    i.iconfont.icon-huoche
  a.deal_link(href="/comment/" title="留言" target="_blank")
    i.iconfont.icon-liuyan
  a.deal_link(href="/atom.xml" title="rss" target="_blank")
    i.iconfont.icon-rss
#Jay-footer
  .footer-group
    h3.footer-title 直达
    .footer-links
      a.footer-item(href="/" target="_blank") 我的主页
      a.footer-item(href="javascript:toRandomPost();") 随机文章
      a.footer-item(href="https://bimg.cc" target="_blank") 必应壁纸
  .footer-group
    h3.footer-title 分类
    .footer-links
      a.footer-item(href="/categories/优秀文章/") 优秀文章
      a.footer-item(href="/categories/博客搭建/") 博客搭建
      a.footer-item(href="/categories/学习笔记/") 学习笔记
      a.footer-item(href="/categories/实用教程/") 实用教程
      a.footer-item(href="/categories/总结/") 总结
  .footer-group
    h3.footer-title 友链
    .footer-links#friend-links-in-footer
      a.footer-item(href="https://blog.zhheo.com/" target="_blank") 张洪Heo
      a.footer-item(href="https://zfe.one/" target="_blank") 小冰博客
      a.footer-item(href="https://blog.leonus.cn/" target="_blank") Leonus
      a.footer-item(href="https://zhangshier.vip/" target="_blank") 张时贰
      a.footer-item(href="/links/" target="_blank") 查看更多
  .footer-group
    h3.footer-title 关于
    .footer-links
      a.footer-item(href="/about/") 关于我
      a.footer-item(href="/about/#博客统计") 博客统计
      a.footer-item(href="/archives/") 文章归档
      a.footer-item(href="/history/") 建站记录
#footer-banner
  .footer-banner-links
    .footer-banner-left
      .footer-banner-left
        #footer-banner-tips

    .footer-banner-right
      a.footer-banner-link(href="https://beian.miit.gov.cn/" title="备案") 桂ICP备2021004373号-4
      a.footer-banner-link(href="https://hexo.io/zh-cn/" title="Hexo") 框架
      a.footer-banner-link |
      a.footer-banner-link(href="https://github.com/jerryc127/hexo-theme-butterfly" title="theme") 主题
      a.footer-banner-link |
      a.footer-banner-link(href="/atom.xml" title="RSS") 订阅
      a.footer-banner-link |
      a.footer-banner-link(href="/about/" title="about") 关于
      a.footer-banner-link
    
